<a href="https://colab.research.google.com/github/ayushi7503/DATA-SCIENCE/blob/main/notes_for_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Tools to use - python IDLE/ Pycharm / colab / jupyter notebook
#extension of file saved - .py

#python:
#python is interpreted high level language
#case sensitive language
#easy syntax
#open source
#used to make gui/web based app/algos

#identifiers - used to identify the variables / functions etc.
#rules of creating identifiers are  - start with zero or more letters, _ ,& digits

#keywords - all keywords are in lower case (inbuilt) - 33 keywords in python (del, for etc)

# Python Data Types - int / float / complex / bool / string (primitive data type)

# Python Data Structures - list / tuple / set / dict (complex data type)

##### SYLLABUS :
## variables / data types / operators
## arrays
## flow control
## methods
## file handling
## oops


### fields - ml engg / iot devices / data science / data analyst / automation engg 

#### INSTALLATION: python.org / download python / install (IDE - integrated development environment / GUI )

### ANANCONDA INSTALLATION : (anaconda.com/distribution)-.>download->install

## to check the version of python

In [12]:
from platform import python_version # from is for package / import is for importing the module!
python_version()

'3.9.16'

In [2]:
# naming convention:

#lowercase names to variables / functions / class.
#class names should have first letter upper case then followed by the lowercase
#all constants should be capitalize.
#if a name contains two words seperate them by underscore.

In [3]:
#variable : no additional command is required for decalaring the variable.
#no special characters are allowed 

#command - shift+enter (command executes and send the new cell after output)
# command - ctrl+enter (command executed but the cell is not shifted to the new cell)
# esc A - add the cell above.
# esc B - add the cell below.

In [17]:
#First python program - hello world !

print("hello world")
print("good morning")

hello world
good morning

In [18]:
# variables = data store location ?
# mutable = we can change the values .

name = "ayushi"
age = 22
rupee = 33.7
is_Adult = True

print(name)
print("name")
print(age)
print(rupee)
print(is_Adult)

ayushi
name
22
33.7
True

In [19]:
# how to take input from the user ?

first_name = input("enter the name :")
print(first_name)
print("hello" +" "+ first_name)

enter the name :ayushi
ayushi
hello ayushi

In [20]:
# Type conversion ?
# int() / float()/ str() / bool()

old_age = int(input("enter the age "))
new_age = old_age+5
print(new_age)

enter the age 43
48

In [6]:
#global / local variable:

c = "hello world"                           # global
def func(c):
  #c = "Ayushi Gupta"                        #local 
  print(c)
  
func(c)
print(c)

hello world
hello world

In [7]:
#Data Types : type of data element define by the values:
# int / float / complex / bool / string

#data structure : enable the user to store the data : 
# list / tuple / dict / set

## *STRING*

In [9]:
# methods in string

name = "ayushi"

print(name.upper())
print(name.capitalize())
print(name.find('a'))
print(name.lower())
print(name.find('us'))
print(name.replace("ayushi","raghuu decathalon"))
print(name.replace("i",'y'))
print('y' in name)
print("t" in name)
print(name.index("a"))
print(name.count('a'))

AYUSHI
Ayushi
0
ayushi
2
raghuu decathalon
ayushy
True
False
0
1

## **OPERATORS**

In [16]:
# methods in int and float with operators:

num = 1
sum = 2
print(num + sum)
print(num * sum)
print(num /sum)
print(num//sum)
print(num**sum)
print(num>sum)
print(num>=sum)
print(num<sum)
print(num<=sum)
print(num-sum)
print(num<sum and num<=sum)
print(num <sum or num >sum)

3
2
0.5
0
1
False
False
True
True
-1
True
True

### **conditional statement**

In [21]:
# if else statement - conditional statements 

age = 19
if age>=19:
  print("you are an adult")
  print("you can vote")

print("thankyou")
print("ayushi")

you are an adult
you can vote
thankyou
ayushi

In [22]:
age1 = 13
if age1>=18:
  print("you are an adult")
  print("you can vote")

elif age1>18 and age1>3:
  print("you are in school")

else:
  print("not eligible")

print("thankyou")

not eligible
thankyou

In [23]:
# calculator program ?

first = int(input("enter the first number"))
second = int(input("enter the second number"))
operator = input("enter the operator:")

if operator == "+":
  print(first + second)
elif operator == "-":
  print(first - second)
elif operator == "*":
  print(first * second)
elif operator == "/":
  print(first / second)
else:
  print("invalid operator")

enter the first number20
enter the second number30
enter the operator:+
50

### **LOOPS**

In [24]:
i = 1
while i<=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [25]:
i = 1
while i<=5:
  print(i * "*")
  i+=1

*
**
***
****
*****

In [26]:
i = 5
while i>=1:
  print(i * "*")
  i-=1

*****
****
***
**
*

In [27]:
for i in range(10):
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9

In [29]:
# marks print

marks = [97,98,99,100]
print(marks[0:3])
for score in marks:
  print(score)

[97, 98, 99]
97
98
99
100

### **operations on list**

In [51]:
marks = [97,98,99,100]
marks.append(99)
print(marks)

marks.insert(0,99)
print(marks)

marks.extend([101])
print(marks)

print(99 in marks)

print(len(marks))

print(marks.index(99))

print(sorted(marks))

print(marks.pop())

print(marks.pop(2))

print(sorted(marks))

print(sorted(marks,reverse=True))

print(marks.count(99))

print(min(marks))
print(max(marks))
del(marks[0])
marks

[97, 98, 99, 100, 99]
[99, 97, 98, 99, 100, 99]
[99, 97, 98, 99, 100, 99, 101]
True
7
0
[97, 98, 99, 99, 99, 100, 101]
101
98
[97, 99, 99, 99, 100]
[100, 99, 99, 99, 97]
3
97
100

[97, 99, 100, 99]