<a href="https://colab.research.google.com/github/ayushi7503/DATA-SCIENCE/blob/main/PYTHON_BEGINNERS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Tools to use - python IDLE/ Pycharm / colab / jupyter notebook
#extension of file saved - .py

#python
#python is interpreted high level language
#case sensitive language

#identifiers - used to identify the variables / functions etc.
#rules of creating identifiers are  - start with zero or more letters, _ ,& digits

#keywords - all keywords are in lower case (inbuilt) - 33 keywords in python (del, for etc)

In [2]:
# Python Data Types - int / float / complex / bool / string

# Python Data Structures - list / tuple / set / dict

In [5]:
#function - gives an output
from platform import python_version
python_version()

'3.9.16'

In [6]:
#First python program - hello world !

print("hello world")
print("good morning")

hello world
good morning

In [9]:
# variables = data store location ?
# mutable ?

name = "ayushi"
age = 22
rupee = 33.7
is_Adult = True

print(name)
print("name")
print(age)
print(rupee)
print(is_Adult)

ayushi
name
22
33.7
True

In [11]:
#ques - add a person with name Tony Shark?
#ques - tony age is 51 years old?
#ques - tony is a genius?

In [17]:
# how to take input from the user ?

first_name = input("enter the name")
print(first_name)
print("hello" +" "+ first_name)

enter the nameayushi
ayushi
hello ayushi

In [14]:
# ques - what is your super hero name?

In [18]:
# Type conversion ?
# int() / float()/ str() / bool()

old_age = int(input("enter the age "))
new_age = old_age+5
print(new_age)

enter the age 20
25

In [19]:
old_age = input("enter the age ")
new_age = old_age+5
print(new_age)

enter the age 20

TypeError: ignored

In [20]:
# num to float ?

num1 = 10
print(float(num1))

10.0

In [21]:
# num to string ?

num1 = 10
print(str(num1))

10

In [26]:
# string to float?

#num1 = "abc"
#print(float(num1))

In [27]:
# string to number?

#num1 = "abc"
#print(int(num1))

In [28]:
# float to number ?

num1 = 22.5
print(int(num1))

22

In [29]:
# float to string ?

num1 = 22.5
print(str(num1))

22.5

In [33]:
first_num = int(input("enter the first number :"))
second_num = int(input("enter the second number :"))
sum = str(first_num + second_num)
print("the sum of the numbers is :" + sum)

enter the first number :7
enter the second number :8
the sum of the numbers is :15

In [46]:
# methods in string

name = "ayushi"
print(name.upper())
print(name.capitalize())
print(name.find('a'))
print(name.lower())
print(name.find('us'))
print(name.replace("ayushi","raghuu decathalon"))
print(name.replace("i",'y'))
print('y' in name)
print("t" in name)
print(name.count('a'))

AYUSHI
Ayushi
0
ayushi
2
raghuu decathalon
ayushy
True
False
1

In [48]:
# operators in python - arithmetic operators

print(1+2)
print(4+7)
print(5-4)
print(5/4)
print(5//4)
print(5*4)
print(5**2)

3
11
1
1.25
1
20
25

In [57]:
# shortcuts of operators
# precedence of operators -  (* > +)

i = 5
#i = i+5
i += 5
print(i)

j = 10
# j = j-3
j-=3
print(j)

k=8
#k = k*10
k *= 10
print(k)

h = 6
# h = h/10
h /=10
print(h)

m = 10
#m = m**2
m **= 2
print(m)

n = 3
#n = n//5
n //= 5
print(n)

10
7
80
0.6
100
0

In [60]:
# comparision operators 
#return boolean value

print(2>3)
print(2==3)
print(2<3)
print(2>=2)
print(2<=3)
print(2!=3)
print(3!=3)

False
False
True
True
True
True
False

In [68]:
# logical operators ?
#OR / AND 

# OR 
print(2>3 or 2>1)       # if any one is true then it returns true
print(3==3 or 2==2)
print(3>4 or 4>5 )

# AND
print(2>3 and 2>1 )     # if both are true then it gives true
print(3==3 and 2==2)
print(3>4 and 4>5)

# NOT  
print(not 2>3)          #changes true to false and false to true
print(not 3==3)

True
True
False
False
True
False
True
False

In [74]:
# if else statement - conditional statements 

age = 19
if age>=20:
  print("you are an adult")
  print("you can vote")

print("thankyou")

thankyou

In [73]:
age1 = 13
if age1>=18:
  print("you are an adult")
  print("you can vote")
elif age<18 and age>3:
  print("you are in school")
else:
  print("not eligible")

print("thankyou")

not eligible
thankyou

In [77]:
# calculator program ?

first = int(input("enter the first number"))
second = int(input("enter the second number"))
operator = input("enter the operator:")

if operator == "+":
  print(first + second)
elif operator == "-":
  print(first - second)
elif operator == "*":
  print(first * second)
elif operator == "/":
  print(first / second)
else:
  print("invalid operator")

enter the first number10
enter the second number5
enter the operator:+
15

In [81]:
#Range
num=range(5)
num

range(0, 5)

In [86]:
# LOOPS

i = 1
while i<=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [89]:
# LOOPS

i = 1
while i<=5:
  print(i * "*")
  i+=1

*
**
***
****
*****

In [90]:
# LOOPS

i = 5
while i>=1:
  print(i * "*")
  i-=1

*****
****
***
**
*

In [94]:
for i in range(10):
  print(i)
  i+=1

0
1
2
3
4
5
6
7
8
9